# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [6]:
# "tobs" is "temperature observations"

measurements_path = "Resources/hawaii_measurements.csv"
measurements_df = pd.read_csv(measurements_path)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [19]:
# Convert the date column format from string to datetime

measurements_df["date"] = pd.to_datetime(measurements_df["date"])



measurements_df["date"]

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: date, Length: 19550, dtype: datetime64[ns]

In [22]:
# Set the date column as the DataFrame index

dt_df = measurements_df.set_index("date")

dt_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [21]:
from scipy import stats

In [56]:
# Filter data for desired months

june_df = dt_df[(dt_df.index.month==6)]

june_df.dropna()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1574 rows x 3 columns]

In [57]:
december_df = dt_df[(dt_df.index.month==12)]

december_df.dropna()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1405 rows x 3 columns]

In [58]:
# Identify the average temperature for June

june_avg_temp = june_df["tobs"].mean()

june_avg_temp

74.94411764705882

In [59]:
# Identify the average temperature for December

dec_avg_temp = december_df["tobs"].mean()

dec_avg_temp

71.04152933421226

In [60]:
# Create collections of temperature data

june_list = june_df["tobs"].tolist()

dec_list = december_df["tobs"].tolist()

In [62]:
# Run Unpaired t-test

stats.ttest_ind(june_list, dec_list)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

- A p-value less than 0.05 is statistically significant. The low p value suggests that the sample provides enough evidence that the null hypothesis can be rejected for the entire population.